# ðŸ“Š Script Summary: Scrape Quality Evaluation

This script analyses the results of article scraping by loading the merged dataset (newsletter_full_articles_with_items.csv), counting successful vs. failed scrapes, inspecting failure reasons, analysing success rates by organisation and category, generating summary statistics, producing detailed breakdowns for the top 50 organisations, exporting a status report (status_by_org.xlsx), and examining cases where pages were fetched but no article text could be extracted.

- overall 741 articles were successfully scraped
- 160 rows failed to sucessfully scrape
- 153 rows had a error reason and the page could not be fetched (403,404, 406, timeout, connection, SSL
- 7 rows were empty which means the page was sucessfully feteched but no content was extraced
- These failure reasons indicate pages that were blocked (403), missing (404), rejected the request (406), required login (401), had connection/SSL issues, timed out, or didnâ€™t contain extractable article text.

In [1]:
import pandas as pd

In [2]:
ARTICLES_CSV = "/workspaces/ERP_Newsletter/data/data04_full_articles_scraped/newsletter_full_articles_with_items.csv"

df = pd.read_csv(ARTICLES_CSV)

In [3]:
df.columns

Index(['id', 'newsletter_number', 'issue_date', 'theme', 'subtheme', 'title',
       'description', 'link', 'new_theme', 'domain_x', 'organisation',
       'org_broad_category', 'org_category', 'title_length',
       'description_length', 'title_word_count', 'description_word_count',
       'text', 'text_length_chars', 'text_length_words', 'link_canonical',
       'article_id', 'domain_y', 'article_title', 'article_text', 'status',
       'failure_reason'],
      dtype='object')

#Â Check Failed vs. Successful

In [6]:
#check number of failed vs. successful scraped articles 
df['status'].value_counts()

status
ok       741
error    153
empty      7
Name: count, dtype: int64

| Type                                   | What Happened                                               | Cause                                                                        |
| -------------------------------------- | ----------------------------------------------------------- | ---------------------------------------------------------------------------- |
| **Error rows** (have a failure_reason) | Page **could not be fetched**                               | 403, 404, 406, timeout, connection, SSL                                      |
| **Empty rows** (no text but no error)  | Page **fetched successfully** but **content not extracted** | JS pages, PDF files, non-article links, weird HTML, cookie walls, short text |

#Â Inspect Failures

In [7]:
#inspect failure reasons 
failed = df[df['status'] != 'ok']
len(failed)

160

In [8]:
#inspect at failure reason 
failed['failure_reason'].value_counts(dropna=False)

failure_reason
http_status_403                        101
http_status_404                         23
http_status_406                         18
no_main_text_extracted_or_too_short      7
request_exception_ConnectionError        7
timeout                                  2
request_exception_SSLError               1
http_status_401                          1
Name: count, dtype: int64

| Failure Reason                            | Count | Explanation                                                                                   |
|-------------------------------------------|-------|-----------------------------------------------------------------------------------------------|
| http_status_403                           | 101   | The server blocked access. Often due to missing headers, bot detection, or rate limiting.     |
| http_status_404                           | 23    | Page not found. The URL no longer exists, is broken, or has been removed.                     |
| http_status_406                           | 18    | Server refused the request format. Usually missing/strict `Accept` headers.                   |
| no_main_text_extracted_or_too_short       | 7     | Page downloaded but the scraper found no usable article text (empty page, PDF, or JS site).   |
| request_exception_ConnectionError         | 7     | Could not reach the server due to network issues, DNS failure, or dropped connection.         |
| timeout                                   | 2     | Server took too long to respond; request expired.                                             |
| request_exception_SSLError                | 1     | SSL certificate or handshake error due to misconfigured HTTPS or outdated TLS.                |
| http_status_401                           | 1     | Page requires authentication or login (unauthorized).                                         |

####

#Â Inspect successful vs. failed by organisation

In [9]:
df.head(0)

Empty DataFrame
Columns: [id, newsletter_number, issue_date, theme, subtheme, title, description, link, new_theme, domain_x, organisation, org_broad_category, org_category, title_length, description_length, title_word_count, description_word_count, text, text_length_chars, text_length_words, link_canonical, article_id, domain_y, article_title, article_text, status, failure_reason]
Index: []

[0 rows x 27 columns]

In [12]:
#broad organisation type 
df.groupby(['org_broad_category', 'status']).size().unstack(fill_value=0)

status                                 empty  error   ok
org_broad_category
academic_sector                            2     31   70
civil_society_nonprofit_sector             0      9   69
commercial_private_sector                  0      2    9
digital_social_media_platforms             2      1   12
government_public_sector                   2     72  137
knowledge_mobiliser_think_tank_sector      0     19  100
media_sector                               1      8  268
other_miscellaneous                        0      3   24
research_evidence_sector                   0      8   52

In [13]:
# more detailed organisation 
df.groupby(['org_category', 'status']).size().unstack(fill_value=0)

status                                       empty  error   ok
org_category
academic_network                                 1      9   27
academic_publisher_platform                      1     16    6
advocacy_organisation                            0      2   10
charity_ngo                                      0      0   45
commentary_platform                              0      4   23
consultancy                                      0      1    4
cultural_organisation                            0      0    1
edtech_education_business                        0      0    2
evidence_mobiliser                               0      7   30
executive_non_departmental_public_body_ndpb      0      0    1
government_initiative                            0      0    1
government_legislature                           2     53  133
industry_association                             0      1    3
international_organisation                       0     19    3
labour_union                                     0      6    2
news_media                                       1      4   75
podcast_platform                                 2      1    1
practitioner_organisation                        0      0    5
professional_network                             0      3   17
research_funder                                  0      2   16
research_institution                             0      1    8
research_organisation                            0      5   25
research_project_initiative                      0      0    3
social_media                                     0      0   11
specialist_media                                 0      0  170
think_tank                                       0     10   60
unclear                                          0      3   22
universities                                     0      6   37

In [ ]:
#Â did text length

In [15]:
summary = pd.DataFrame({
    'total_count': df.shape[0],
    'success_count': (df['status']=='ok').sum(),
    'fail_count': (df['status']!='ok').sum(),
    'fail_rate_%': round((df['status']!='ok').mean()*100, 2)
}, index=[0])

summary

   total_count  success_count  fail_count  fail_rate_%
0          901            741         160        17.76

#Â Success vs. Failure - Top 50 Organisations

In [16]:
top50_orgs = (
    df['organisation']
    .value_counts()
    .head(50)
)

top50_orgs

organisation
schools_week                     138
uk_government                     65
guardian                          25
nfer                              24
epi                               23
scottish_government               21
welsh_government                  21
uk_parliament                     21
bera                              20
conversation                      19
oecd                              18
ucl                               18
belfast_telegraph                 16
ni_government                     16
fft_ed_datalab                    13
university_of_birmingham          12
teacher_tapp                      11
upen                              11
nuffield                          11
tes                               10
bera_journals                     10
bbc                               10
british_academy                   10
fed                                9
childrens_commissioner             9
ifs                                9
ifg                                9
twitter                            7
ukri                               7
eef                                7
house_of_lords_library             7
cct                                5
post_parliament                    5
chartered_college_of_teaching      5
welsh_parliament                   5
independent                        5
national_education_union           5
5rights_foundation                 5
ippr                               5
linkedin                           4
nesta                              4
ippo                               4
national_audit_office              4
inews                              4
hepi                               4
wonkhe                             4
national_literacy_trust            3
transforming_society               3
fe_week                            3
edge_foundation                    3
Name: count, dtype: int64

In [17]:
#filter the datast to those top 50 organisations
df_top50 = df[df['organisation'].isin(top50_orgs.index)]

In [18]:
status_by_org = (
    df_top50
    .groupby(['organisation', 'status'])
    .size()
    .unstack(fill_value=0)
    .reindex(columns=['ok','error','empty'], fill_value=0)  # optional but safe
    .sort_values(by='ok', ascending=False)
)

status_by_org

status                          ok  error  empty
organisation
schools_week                   138      0      0
uk_government                   65      0      0
guardian                        25      0      0
scottish_government             21      0      0
epi                             21      2      0
nfer                            20      4      0
bera                            19      1      0
conversation                    19      0      0
welsh_government                19      0      2
ucl                             17      1      0
belfast_telegraph               16      0      0
fft_ed_datalab                  13      0      0
university_of_birmingham        12      0      0
nuffield                        11      0      0
teacher_tapp                    11      0      0
bbc                             10      0      0
tes                             10      0      0
fed                              9      0      0
ifg                              9      0      0
childrens_commissioner           9      0      0
upen                             9      2      0
twitter                          7      0      0
ukri                             5      2      0
welsh_parliament                 5      0      0
ippr                             5      0      0
chartered_college_of_teaching    5      0      0
5rights_foundation               5      0      0
independent                      5      0      0
linkedin                         4      0      0
inews                            4      0      0
wonkhe                           4      0      0
cct                              4      1      0
hepi                             4      0      0
ippo                             4      0      0
nesta                            4      0      0
national_audit_office            4      0      0
transforming_society             3      0      0
fe_week                          3      0      0
edge_foundation                  3      0      0
national_literacy_trust          3      0      0
british_academy                  2      7      1
ifs                              2      7      0
oecd                             2     16      0
ni_government                    1     15      0
uk_parliament                    1     20      0
bera_journals                    0     10      0
eef                              0      7      0
house_of_lords_library           0      7      0
national_education_union         0      5      0
post_parliament                  0      5      0

In [19]:
#add failure rate
status_by_org['failure_rate_%'] = (
    status_by_org['error'] /
    (status_by_org['ok'] + status_by_org['error'])
    * 100
).round(2)

status_by_org

status                          ok  error  empty  failure_rate_%
organisation
schools_week                   138      0      0            0.00
uk_government                   65      0      0            0.00
guardian                        25      0      0            0.00
scottish_government             21      0      0            0.00
epi                             21      2      0            8.70
nfer                            20      4      0           16.67
bera                            19      1      0            5.00
conversation                    19      0      0            0.00
welsh_government                19      0      2            0.00
ucl                             17      1      0            5.56
belfast_telegraph               16      0      0            0.00
fft_ed_datalab                  13      0      0            0.00
university_of_birmingham        12      0      0            0.00
nuffield                        11      0      0            0.00
teacher_tapp                    11      0      0            0.00
bbc                             10      0      0            0.00
tes                             10      0      0            0.00
fed                              9      0      0            0.00
ifg                              9      0      0            0.00
childrens_commissioner           9      0      0            0.00
upen                             9      2      0           18.18
twitter                          7      0      0            0.00
ukri                             5      2      0           28.57
welsh_parliament                 5      0      0            0.00
ippr                             5      0      0            0.00
chartered_college_of_teaching    5      0      0            0.00
5rights_foundation               5      0      0            0.00
independent                      5      0      0            0.00
linkedin                         4      0      0            0.00
inews                            4      0      0            0.00
wonkhe                           4      0      0            0.00
cct                              4      1      0           20.00
hepi                             4      0      0            0.00
ippo                             4      0      0            0.00
nesta                            4      0      0            0.00
national_audit_office            4      0      0            0.00
transforming_society             3      0      0            0.00
fe_week                          3      0      0            0.00
edge_foundation                  3      0      0            0.00
national_literacy_trust          3      0      0            0.00
british_academy                  2      7      1           77.78
ifs                              2      7      0           77.78
oecd                             2     16      0           88.89
ni_government                    1     15      0           93.75
uk_parliament                    1     20      0           95.24
bera_journals                    0     10      0          100.00
eef                              0      7      0          100.00
house_of_lords_library           0      7      0          100.00
national_education_union         0      5      0          100.00
post_parliament                  0      5      0          100.00

In [20]:
# Export to Excel
status_by_org.to_excel("/workspaces/ERP_Newsletter/data/data04_full_articles_scraped/status_by_org.xlsx", index=True)

In [21]:
#success failure by broad category 
by_broad = (
    df_top50
    .groupby(['org_category', 'status'])
    .size()
    .unstack(fill_value=0)
)

by_broad['failure_rate_%'] = (
    by_broad['error'] /
    (by_broad['error'] + by_broad['ok']) * 100
).round(2)

by_broad

status                       empty  error   ok  failure_rate_%
org_category
academic_network                 1      8   21           27.59
academic_publisher_platform      0     10    0          100.00
charity_ngo                      0      0   17            0.00
commentary_platform              0      0   19            0.00
evidence_mobiliser               0      7   28           20.00
government_legislature           2     47  116           28.83
international_organisation       0     16    2           88.89
labour_union                     0      5    0          100.00
news_media                       0      0   60            0.00
professional_network             0      1    9           10.00
research_funder                  0      2   16           11.11
research_organisation            0      4   20           16.67
social_media                     0      0   11            0.00
specialist_media                 0      0  164            0.00
think_tank                       0      9   48           15.79
unclear                          0      2   12           14.29
universities                     0      1   29            3.33

#Â inspect where status == 'empty'

In [22]:
empty_status_df = df[df['status'] == 'empty']
empty_status_df

,id,newsletter_number,issue_date,theme,subtheme,title,description,link,new_theme,domain_x,...,text,text_length_chars,text_length_words,link_canonical,article_id,domain_y,article_title,article_text,status,failure_reason
41,bc99414e-9a35-468d-a007-9cdc1d0e8a93,6,8 September 2023,EdTech,NaN,The Future of AI in Education: 13 Things We Ca...,Working paper co-authored by Dylan Wiliam. Pot...,https://edarxiv.org/372vr,edtech,edarxiv.org,...,The Future of AI in Education: 13 Things We Ca...,333,50,https://edarxiv.org/372vr,c1a43e50-455d-40c6-94bd-88aca5f71f51,edarxiv.org,OSF,NaN,empty,no_main_text_extracted_or_too_short
240,3c2e1ba3-b2a7-4a82-92d0-c1ae586313f1,32,19 April 2024,Four Nations Landscape,NaN,Education Wales - Wales' Professional Learning...,"For the first time, Professional Learning reso...",http://educationwales.blog.gov.wales/?action=u...,four_nations,educationwales.blog.gov.wales,...,Education Wales - Wales' Professional Learning...,345,51,http://educationwales.blog.gov.wales/?action=u...,f14aba51-5412-42d5-9819-5dccfab38f4b,educationwales.blog.gov.wales,NaN,NaN,empty,no_main_text_extracted_or_too_short
346,8ecd35a7-b495-4f68-855a-50184b8012a0,42,5 July 2024,Research â€“ Practice â€“ Policy,NaN,Podcast - The Commission on the Future of Orac...,"10 weeks since the Commission launched, Geoff ...",https://open.spotify.com/episode/3ZDdja9OUHbwD...,ppr,open.spotify.com,...,Podcast - The Commission on the Future of Orac...,310,50,https://open.spotify.com/episode/3ZDdja9OUHbwD...,5e500c2e-c7de-4c3e-9278-12b01bf10994,open.spotify.com,Spotify â€“ Web Player,NaN,empty,no_main_text_extracted_or_too_short
413,2dc0177e-7bbe-4c38-a7cb-6cfd3f97269b,49,11 October 2024,Political environment and key organisations,NaN,We need to talk. Oracy Education Commission re...,The Commission on the Future of Oracy Educatio...,https://open.spotify.com/show/5UwEJKkQrUT5lFjD...,political_environment_key_organisations,open.spotify.com,...,We need to talk. Oracy Education Commission re...,384,62,https://open.spotify.com/show/5UwEJKkQrUT5lFjD...,1ce9631e-f846-42f3-8df7-0e4d769b11ca,open.spotify.com,Spotify â€“ Web Player,NaN,empty,no_main_text_extracted_or_too_short
464,66e85ed4-eb5c-4242-9f77-19e365b05de7,53,15 November 2024,Four Nations,NaN,Welsh Government - Open Consultation: Curricul...,Deadline: 20 December,http://educationwales.blog.gov.wales/?action=u...,four_nations,educationwales.blog.gov.wales,...,Welsh Government - Open Consultation: Curricul...,164,23,http://educationwales.blog.gov.wales/?action=u...,0eab1420-3476-407e-88f1-9f51d32d8596,educationwales.blog.gov.wales,NaN,NaN,empty,no_main_text_extracted_or_too_short
585,bd41786f-059f-46fb-acd9-60e41b28b1a6,63,14 February 2025,Research â€“ Practice â€“ Policy,NaN,The British Academy Early Career Researcher Ne...,The Academy aims for the network to be a resea...,https://thebritishacademyecrn.com/,ppr,thebritishacademyecrn.com,...,The British Academy Early Career Researcher Ne...,244,36,https://thebritishacademyecrn.com/,bd4a9137-f27b-491b-a533-e97faafd3074,thebritishacademyecrn.com,The British Academy Early Career Researcher Ne...,NaN,empty,no_main_text_extracted_or_too_short
615,2e544c9e-09d6-45ea-8162-923b6160ca7a,66,7 March 2025,EdTech,NaN,TLS article - Teacher's friend or enemy? AI co...,Robert Ades reviews 'Brave New Words' by Salma...,https://www.the-tls.co.uk/philosophy/contempor...,edtech,www.the-tls.co.uk,...,TLS article - Teacher's friend or enemy? AI co...,279,45,https://www.the-tls.co.uk/philosophy/contempor...,6174f168-0a59-4519-b675-cb156cebca1c,www.the-tls.co.uk,Brave New Words by Salman Khan | Book review |...,NaN,empty,no_main_text_extracted_or_too_short

# Save a file with only successfully scraped articles

In [24]:
df_ok = df[df["status"] == "ok"].copy()

In [25]:
output_path = "/workspaces/ERP_Newsletter/data/data04_full_articles_scraped/successfully_scraped.csv"

In [27]:
df_ok.to_csv(output_path, index=False)
print(f"âœ… Saved {len(df_ok)} successfully scraped articles to:")
print(output_path)

âœ… Saved 741 successfully scraped articles to:
/workspaces/ERP_Newsletter/data/data04_full_articles_scraped/successfully_scraped.csv